// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Tahoma, Arial, sans-serif;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0;
}

a,
a:link,
a:visited {
  color: #2a80b9;
}

a:active,
a:focus,
a:hover {
  color: #439fe0;
}

.float-left {
  float: left;
}

.clear-fix:before,
.clear-fix:after {
  content: ' ';
  display: table;
}

.clear-fix:after {
  clear: both;
}

.modal-content {
  padding: 0 20px;

  .content {
    overflow-y: scroll;
    height: 360px;
  }

  .close {
    font-size: 18px;
    font-weight: 200;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

// 3 columns

$left-margin: 230px;
$right-margin: 150px;
$content-margin: 15px;
$top-margin: 50px;
$bottom-margin: 50px;

#col-rooms {
  width: $left-margin;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #4d394b;
  color: #ab9ba9;
  font-size: 15px;
  padding-top: $content-margin;

  .title {
    font-size: 17px;
    margin: 0 $content-margin;
    cursor: pointer;

    &:hover {
      color: #fff;
    }
  }
}

#main-content {
  margin-left: $left-margin;
  margin-right: $right-margin;
  padding: $content-margin;
}

#room-property {
  width: $right-margin;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  font-size: 15px;
  padding-top: $content-margin;
}

// inside modal

#rooms-dialog {

  .title {
    margin-top: 0;
  }

  .room {
    margin: 5px 0;
  }
}

// inside col-rooms

#title {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #ddd;
}

// inside main-content

#opened-rooms,
#opened-members {

  .item {
    padding: 3px 10px 3px 30px;
    cursor: pointer;

    &:hover {
      background-color: #3e313c;
    }

    .name {
      width: $left-margin - 70px;
      height: 17px;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .close {
      float: right;
    }
  }

  .active {
    .item {
      background-color: #4c9689;
      color: #fff;
    }
  }

}

#room-topic {

  font-size: 15px;
  position: fixed;

  .name {
    font-size: 18px;
  }

  .topic {
    color: #808080;
    margin-left: 15px;
  }
}

#messages {
  position: fixed;
  top: $top-margin;
  bottom: $bottom-margin;
  left: $left-margin + $content-margin;
  right: $right-margin + $content-margin;
  overflow-y: scroll;

  .date-span {
    text-align: center;

    hr {
      margin: 0;
      position: relative;
      top: 1.3rem;
    }

    .date {
      background-color: #fff;
      display: inline-block;
      padding: 0 1rem;
      position: relative;
      font-size: 18px;
      margin-bottom: 10px;
    }
  }

  .item {
    margin: 0 5px 10px;
    word-wrap: break-word;

    .name {
      font-weight: bold;
    }

    .date {
      color: #808080;
    }
  }

  .card {
    .quote-bar {
      background: #e3e4e6;
      width: 4px;
      display: table-cell;
    }

    .indent-content {
      padding-left: 9px;
      display: table-cell;
    }

    .site {
      color: #9e9ea6;
    }

    .url {
      font-weight: 700;
    }
  }
}

// message form
#message-form {
  position: fixed;
  bottom: 0;
  left: $left-margin + $content-margin;
  right: $right-margin + $content-margin;

  .message {
    width: 80%;
    border: 2px solid #ddd;
    border-radius: 5px;
  }
}

// loading
#loading {
  position: absolute;
  right: 0;
  top: 10px;
}

.glyphicon-refresh-animate {
  -animation: spin 0.7s infinite linear;
  -ms-animation: spin 0.7s infinite linear;
  -webkit-animation: spinw 0.7s infinite linear;
  -moz-animation: spinm 0.7s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
  from { -moz-transform: rotate(0deg);}
  to { -moz-transform: rotate(360deg);}
}

// Everything but the jumbotron gets side spacing for mobile first views
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

// Custom page header
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  // Make the masthead heading the same height as the navigation
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

// Custom page footer
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

// Main marketing message and sign up button
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

// Supporting marketing content
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

// Responsive: Portrait tablets and up
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  // Remove the padding we set earlier
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  // Space out the masthead
  .header {
    margin-bottom: 30px;
  }
  // Remove the bottom border on the jumbotron for visual effect
  .jumbotron {
    border-bottom: 0;
  }
}
