<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HipSlack</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) vendor/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="hipslackApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <script type="text/ng-template" id="directMessagesModal.html">
      <div id="members" ng-include="'views/members.html'"></div>
    </script>
    <script type="text/ng-template" id="roomsModal.html">
      <div id="rooms" ng-include="'views/rooms.html'"></div>
    </script>
    <!-- Add your site or application content here -->
    <div id="app">
    </div>
    <!--
    <div id="app">
      <div id="col-rooms">
        <div id="direct-messages">
          <div ng-click="membersClick()" class="title">Direct Messages</div>
          <div id="opened-members" data-ng-include="'views/opened-members.html'"></div>
        </div>
        <div id="title">HipSlack</div>
      </div>
      <div id="main-content">
        <div ng-if="isLoading" class="form-group" id="loading">
          <div class="col-md-12 text-center">
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
          </div>
        </div>
        <div id="room-topic" ng-if="activeRoomProperty">
          <span class="name">{{activeRoomProperty.name}}</span>
          <span class="topic">{{activeRoomProperty.topic}}</span>
        </div>
        <div my-include="views/messages.html"></div>
      </div>
      <div id="room-property" ng-include="'views/room-property.html'" ng-if="activeRoomProperty">
      </div>
    </div>
    -->
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) jquery.min.js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script>window.jQuery = require('../bower_components/jquery/dist/jquery');</script>
    <!-- endbuild -->
    <!-- build:js(.) vendor/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js(.) scripts/main.js -->
    <script src="index.js"></script>
    <!-- endbuild -->
    <!-- build:remove-->
    <script>require('electron-connect').client.create()</script>
    <!-- endbuild -->
</body>
</html>
