<ul id="messages">
  <li ng-repeat="(date, group) in groupMessages">
    <div class="date-span">
      <hr>
      <div class="date">{{group.date}}</div>
    </div>
    <ul>
      <li ng-repeat="message in group.items" class="item">
        <div id="message-{{message.id}}">
          <div ng-if="message.message">
            <span class="name">{{message.from}}</span>
            <span class="date">{{message.date}}</span>
            <div my-compile="toTrusted(message.message.html)"></div>
          </div>
          <div ng-if="message.image">
            <a href="{{message.image}}" target="{{message.image}}">
              <img ng-src="{{message.image}}" alt="image">
            </a>
          </div>
          <div ng-if="message.card" class="card">
            <div class="quote-bar"></div>
            <div class="indent-content">
              <div class="site">{{message.card.site}}</div>
              <div class="url">
                <a href="{{message.card.url}}" target="{{message.card.url}}" onclick="return false;" ng-click="linkClick(message.card.url)">{{message.card.title}}</a>
              </div>
              <div class="description">{{message.card.description}}</div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </li>
</ul>
<div id="message-form" ng-if="groupMessages">
  <textarea class="message" ng-model="$parent.inputText" my-chat-key-down="messageBoxKeyDown()"></textarea>
  <input type="button" class="button" ng-click="sendMessageClick()" value="Send">
</div>
